 {
  "presets": [
    "stage-1"
  ],
  "env": {
    "development": {
      "presets": [
        "env"
      ],
      "plugins": [

      ]
    },
    "production": {
      "presets": [
        "env"
      ],
      "plugins": [

      ]
    }
  }
}